:root {
    --large-font-size: 110px;
    --medium-font-size: 100px;
    --regular-font-size: 60px;
    --regular-letter-spacing: 0.2em;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: 'DM Serif Display', serif; 
    color: #262625;
  }
  a:hover {
    color: rgb(97, 97, 97);
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  main {
    padding: 10%;
  }
  
  section {
    display: flex;
    flex-direction: column;
    padding: 10%;
  }
  
  h1 {
    font-size: var(--regular-font-size);
    color: #262625;
    letter-spacing: var(--regular-letter-spacing);
  }
  

  .imagesContainer {
    display: flex;
    flex-direction: column;
  }
  
  .aboutimg {
    width: 50%;
    margin: 15%;
    top: 1%;
    left: 40%;
  }
  
  .aboutimg2 {
    width: 50%;
    margin: 15%;
    top: 1%;
    left: 40%;
  }
  
  footer {
    font-size: var(--regular-font-size);
    color: #262625;
    padding-top: 10%;
    padding-left: 40%;
    padding-bottom: 5%;
    background-color: #dedbd7; 
  }
  
  @media (min-width: 720px) {
    section {
      position: relative;
    }
  
    .imagesContainer {
      flex-direction: row;
      position: relative;
      justify-content: space-between;
    }
  
    h1 {
      font-size: var(--large-font-size);
      position: absolute;
      top: 70%;
      left: 30%;
    }
  
    .firstImage,
    .lastImage {
      height: 50%;
      align-self: flex-end;
    }
}